/* **************************************** MAIN **************************************** */

    main {
        padding-top: 78.4px;
        min-height: calc(100vh - 54px);
    }

    nav {
        min-height: calc(100vh - 78.4px - 54px);
    }

        nav ul li a:hover > i {
            color: #212529;
        }

/* **************************************** FOOTER **************************************** */

    footer p {
        font-size: 0.75em;
    }
